<%@ param std::string userDisplayName %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Klee+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" />
        <title>TinyHTTP chat - <%- userDisplayName %></title>
    </head>
    <body>
        <div class="chat">
            <div class="user">
                <h3>You are: <%- userDisplayName %></h3>
                <button id="logout-button">Log out</button>
            </div>
            <div id="messages"></div>
            <div class="chat-input">
                <input id="message-box" type="text" placeholder="Type your message here..." />
                <button id="send-button">Send</button>
            </div>
        </div>

        <script type="text/javascript" src="static/chat.js"></script>
    </body>
</html>
